.about-us {
  padding: 30px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 52px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
  }
}

.about-us::after {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  position: absolute;
}
