.btn {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 20px 0;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    width: 40%;
    align-self: flex-start;
    align-content: center;
  }
}

.btn:hover,
.btn:focus {
  color: $light-text;
}

.btn:active {
  color: $light-text-two;
}
/*
.btn-burger {
  position: absolute;
  display: block;
  top: 25px;
  right: 13px;
  width: 25px;
  height: 25px;
  font-size: 0;
  background-color: $back-bg;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.btn-burger::before,
.btn-burger::after {
  top: 0;
  content: "";
  position: absolute;
  width: 3px;
  height: 30px;
  background-color: #000000;
}

.btn-burger::before {
  transform: rotate(45deg);
}

.btn-burger::after {
  transform: rotate(-45deg);
}

.btn-burger--none {
  display: none;
}
*/
