.category {
  color: #fff;
}

.category__item {
  padding: 28px 150px 28px 30px;
  font-weight: 700;
}

.category__item--01 {
background-color: #66cccc;
}

.category__item--02 {
background-color: #66cc99;
}
