.contacts {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 52px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1150px;
    margin: auto;
  }
}

.contacts__map {
  max-height: 480px;
  display: inline-block;
  align-self: center;


  @media (min-width: $desktop-width) {
    margin-top: -500px;
    align-self: flex-end;
    order: 1;
  }
}

.contacts img {
  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 457px;
    margin-top: -200px;
  }
}

.contacts__description {
  padding: 30px;
}

.contacts__title {
  margin-top: 31px;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
  }
}

.contacts__table-wrapper {
  padding: 30px 0;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.contacts__table {
  font-size: 14px;
  text-align: left;
  line-height: 2.2;
  margin: auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin: 42px 0;
  }
}

.contacts__table th {
  font-weight: 400;
  width: 30%;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 25%;
  }
}

.contacts__table tr {
  vertical-align: top;
}

.contacts__table-link a {
  @media (min-width: $tablet-width) {
    border-bottom: 1px dotted green;
  }
}

.contacts__btn {
  margin: 30px;

  @media (min-width: $tablet-width) {
    padding: 10px 0;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-start;
  }
}
