.feedback {
  @media (min-width: $tablet-width) {
    background: url("../img/review@1x.jpg") no-repeat, linear-gradient(90deg, #efefef, #ffffff);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
}

.feedback__title {
  font-size: 25px;
  padding: 5px 0 21px;

  @media (min-width: $tablet-width) {
    order: 0;
    padding: 82px 0 10px;
    font-size: 43px;
  }
}

.feedback__comment {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.feedback__comment p {
  line-height: 2;
  font-size: 15px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 1.76;
    margin: 56px 0 65px;
  }
}

.feedback__comment b {
  display: block;
  margin-bottom: 5px;
}

.container-btn {
  margin-bottom: 37px;
  padding: 11px 0;

  @media (min-width: $tablet-width) {
    background-color: #aaaaaa;
    order: 2;
    width: 20%;
    align-self: flex-end;
    margin-top: -100px;
  }
}

.feedback__arrow {
  width: 50%;
  height: 52px;
  border: 1px solid #ececec;
  font-size: 0;
  background-color: #ffffff;
}

.feedback__btn {
  padding: 11px 0;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
    margin: -50px 0 0;
  }
}
