.feedback {
  @media (min-width: $tablet-width) {
    background: url("../img/review@1x.jpg") no-repeat;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    min-height: 457px;
    margin: 70px 0 15px;
    justify-content: end;
  }
}

.feedback__title {
  font-size: 25px;
  padding: 5px 0 0;

  @media (min-width: $tablet-width) {
    order: 0;
    padding: 72px 47px 10px;
    font-size: 43px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    padding: 60px 0 10px;
  }
}

.feedback__comment {
  margin: 0 0 30px;

  @media (min-width: $tablet-width) {
    order: 1;
    padding: 0 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 70px 0 0;
  }
}

.feedback__comment p {
  line-height: 2;
  font-size: 15px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 1.76;
    margin: 45px 0 65px;
  }

  @media (min-width: $desktop-width) {
    margin: 45px 0;
  }
}

.feedback__comment b {
  display: block;
  margin-bottom: 5px;
}

.container-btn {
  margin-bottom: 37px;
  padding: 0;

  @media (min-width: $tablet-width) {
    background-color: #aaaaaa;
    order: 2;
    width: 23%;
    align-self: flex-end;
    margin-top: -85px;
    margin-right: 51px;
  }

  @media (min-width: $desktop-width) {
    width: 20%;
    margin-top: -84px;
    margin-right: 0;
  }
}

.feedback__arrow {
  width: 50%;
  height: 52px;
  border: 1px solid #ececec;
  font-size: 0;
  background-color: #ffffff;
}

.feedback__arrow--left {
  position: static;
  background-image: url("../../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__arrow--left:hover {
  opacity: 0.6;
}

.feedback__arrow--left:active {
  opacity: 0.3;
}

.feedback__arrow--right {
  position: static;
  background-image: url("../../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__arrow--right:hover {
  opacity: 0.6;
}

.feedback__arrow--right:active {
  opacity: 0.3;
}

.feedback__btn {
  padding: 11px 0;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
    margin: -64px 52px 0;
    width: 22%;
  }

  @media (min-width: $desktop-width) {
    margin: -69px 0 0;
    padding: 10px 35px;
    width: auto;
  }
}
