.feedback__title {
  font-size: 25px;
  padding: 5px 0 21px;
}

.feedback__comment {
  margin: 0;
  margin-bottom: 30px;
}

.feedback__comment p {
  line-height: 2;
  font-size: 15px;
  margin-bottom: 25px;
}

.feedback__comment b {
  display: block;
  margin-bottom: 5px;
}

.container-btn {
  margin-bottom: 37px;
  padding: 11px 0;
}

.feedback__arrow {
  width: 50%;
  height: 52px;
  border: 1px solid #ececec;
  font-size: 0;
  background-color: #ffffff;
}

.feedback__btn {
  padding: 11px 0;
}
