.fieldset {
  border: none;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
}

.form__fieldset--tel {
  margin-bottom: 0;
}


.fieldset__container--checbx {
  margin: 46px 0;

  @media (min-width: $tablet-width) {
    width: 35%;
    margin: 66px 0;
    padding-left: 203px;
    box-sizing: border-box;
  }
}


.fieldset__wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }
}

.fieldset-legend {
  text-transform: uppercase;
  font-weight: 700;
  color: #63d1bb;
  font-size: 17px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 69px;
    left: 52px;
  }
}

.form .fieldset__container--data {
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 70%;
    margin: 0;
    margin-left: 217px;
  }
}

.fieldset input[type="text"],
.fieldset input[type="tel"],
.fieldset input[type="email"] {
  border: none;
  padding: 15px;
  outline: 0;
  background-color: inherit;
}

.fieldset input[type="text"]:focus,
.fieldset input[type="tel"]:focus,
.fieldset input[type="email"]:focus {
  border-bottom: 2px solid #62d1ba;
}

.fieldset__container--textarea {
  height: 142px;

  @media (min-width: $tablet-width) {
    margin-left: 128px;
    width: 501px;
  }
}

.fieldset-legend--tel,
.fieldset-legend--email {
  margin: 0;
}

.fieldset__container--contacts {
  position: relative;
  margin: 0;
  border-bottom: 2px solid #000000;
  margin-bottom: 15px;
}

.fieldset__container--data {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-left: 219px;
    flex-direction: row;
  }
}
