.form {
  margin: 0;
  padding: 30px;
  font-size: 17px;
}

.form__description {
  width: 242px;
  margin-top: -5px;
  margin-bottom: 79px;
  padding-bottom: 18px;
  line-height: 1.75;
  font-size: 14px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    width: 612px;
  }

  @media (min-width: $desktop-width) {
    width: 675px;
    margin: auto;
  }
}

.form__lbl-checbx,
.form__lbl-radio {
  line-height: 1.2;
  font-weight: 700;
  margin: 18px 0;
  display: block;
  padding-left: 64px;
}

.form__label {
  margin: 5px 0;

  @media (min-width: $tablet-width) {
    margin: 15px 0;
  }
}

.form__input-text {
  width: 90%;
  position: relative;
  padding-right: 76px;
}

.form__input-text::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  z-index: 10;
}

.form__radio,
.form__input {
  display: none;
}

.form__fieldset {
  position: relative;
}

.form__fieldset::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 62px;
  width: 189px;
  height: 1px;
  background-color: $seafoam-blue;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form .form__input-text--textarea {
  width: 90%;
  border: 2px solid $greyish-brown;
}

.form .form__lbl-radio {
  position: relative;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.form__fieldset:first-child .form__lbl-radio {
  padding-right: 103px;
}

.form:nth-child(n+2) .form__fieldset {
  @media (min-width: $tablet-width) {
    background-color: $light-grey-bg;
  }
}

.form__lbl-radio::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  background-color: $back-bg;
  border: 2px solid $greyish-brown;
}

.form__lbl-radio:focus::before,
.form__lbl-checbx:focus::before {
  border: 2px solid $seafoam-blue;
}

.form__lbl-radio:active::before,
.form__lbl-checbx:active::before {
  border: 2px solid $light-grey-bg;
}

.form__radio:checked + .form__lbl-radio::after {
  content: "";
  position: absolute;
  top: -7px;
  left: 13px;
  z-index: 10;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-color: $seafoam-blue;
  border-radius: 50%;
}

.form .form__lbl-checbx {
  position: relative;
  padding-bottom: 23px;
}

.form__lbl-checbx::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 40px;
  height: 39px;
  background-color: $back-bg;
  border: 2px solid $greyish-brown;
  display: inline-block;
  z-index: 1;
}

.form__input:checked + .form__lbl-checbx::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 18px;
  z-index: 100;
  width: 32.666px;
  height: 22.742px;
  display: inline-block;
  background-image: url("../img/icon-tick.svg");
  fill: $greyish-brown;
  background-repeat: no-repeat;
}

.form__note {
  font-size: 14px;
  text-align: center;
}

.form__btn {
  width: 100%;
  background-color: #ffffff;
}

.form__lbl-checbx:last-of-type {
  padding-bottom: 0;
}
