.form {
  margin: 0;
  padding: 30px;
  font-size: 17px;
}

.form__description {
  margin-top: -5px;
  padding-bottom: 18px;
  line-height: 1.75;
  font-size: 14px;
  font-weight: 300;

  @media (min-width: $desktop-width) {
    width: 675px;
    margin: auto;
  }
}

.form__input-text {
  width: 100%;
}

.form__radio,
.form__input {
  display: none;
}

.form__note {
  font-size: 14px;
  text-align: center;
}

.form__btn {
  width: 100%;
  background-color: #ffffff;
}

.form__lbl-checbx,
.form__lbl-radio {
  padding-left: 64px;
}

.form__lbl-checbx {
  padding-bottom: 23px;
}

.form__lbl-checbx:last-of-type {
  padding-bottom: 0;
}
