.header {
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0 52px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 1150px;
  }
}

.header__logo {
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    align-content: flex-start;
  }
}
