.main {
  font-weight: 400;
}

.main__site-theme {
  background-color: #ffffff;
}

.main__title {
  background-color: #f1f1f1;
  padding: 65px 30px 70px;
  margin: 0;
  font-size: 27px;
  text-align: center;
}

.main__manufacturing {
  font-size: 15px;
  margin: 30px 30px 30px 30px;
}
