.manufacturing {
  border: 1px solid #ececec;
}

.manufacturing__title {
  text-align: left;
  font-size: 17px;
  margin: 20px 0 20px 90px;
}

.manufacturing__description {
  padding: 25px 33px;
  font-size: 13px;
  line-height: 1.9;
}

.manufacturing__btn {
  font-size: 17px;
  margin: 0 33px 30px;
  padding: 12px 0;
}
