.manufacturing {
  border: 1px solid #ececec;
}
.manufacturing__title {
  text-align: left;
  font-size: 17px;
  width: 40%;
}

.manufacturing__description {
  padding: 30px;
}

.manufacturing__btn {
  margin: 30px;
}
