.product {
  padding: 30px;
  padding-top: 25px;
}

.product__denotation {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.product__attribute {
  color: $seafoam-blue;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.product__description {
  font-size: 15px;
  font-weight: 400;
  padding: 20px 0;
}

.product__table {
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  position: relative;
  border-collapse: collapse;
  table-layout: fixed;
}

.product__table tr {
  height: 2.5em;
  border-bottom: 1px solid lightgrey;
}

.product__table th {
  width: 36%;
  text-align: left;
  font-weight: 400;
}

.product__img {
  margin-top: 26px;
}

.product__price {
  text-align: center;
  margin: 21px;
  font-weight: 700;
}

.product__btn {
  padding: 12px 0;
}
