.footer__social {
  display: flex;
  align-content: center;
  width: 50px;
  height: 50px;
  margin-right: 500px;
  background-color: red;
}

.social-btn {

}
.social-btn-inst {}
.social-btn-fb {}
.social-btn-twit {}
