.category {
  color: #fff;
}

.category__item {
  padding: 30px;
  font-weight: 700;
  width: 100%;
  height: 80px;
  margin-right: 100px;
}

.category__item--01 {
  background-color: #66cccc;
}

.category__item--02 {
  background-color: #66cc99;
}
