.main {
  font-weight: 400;
}

.main__site-theme {
  background-color: #ffffff;
  margin-bottom: 79px;
  position: relative;
}

.main__title {
  background-color: grey;
}

.main__category {
  @media (min-width:$tablet-width) {
    margin-bottom: 50px;
  }
}
