$tablet-width: 768px;
$desktop-width: 1200px;
$back-fon: #ffffff;
$seafoam-blue: #63d1bb;
$seafoam-blue-two: #59d5bc;
$aqua-marine: #56c3b2;
$aqua-marine-two: #46c1ae;
$light-text: #ffffff;
$light-text-two: rgba(255, 255, 255, 0.3);
$greyish-brown: #444444;
